<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/us_admission_v2?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Kasak_2005</property>
    <!--<property name="hibernate.cache.provider_configuration_file_resource_path">/ehcache.xml</property>-->
    <!--<property name="hibernate.cache.use_second_level_cache">false</property>-->
    <!--<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>-->
    <!--<property name="hibernate.cache.region.factory_class">org.hibernate.cache.EhCacheRegionFactory</property>?-->
    <!--<property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>-->
    <property name="hibernate.jdbc.batch_size">20</property>
    <!--<property name="hibernate.cache.use_query_cache">true</property>-->
    <!--<property name="hibernate.show_sql">true</property>-->
    <mapping class="admission.model.PartRegistry"/>
    <mapping class="admission.model.Taluka"/>
    <mapping class="admission.model.Accounts"/>
    <mapping class="admission.model.AdmissionListDetails"/>
    <mapping class="admission.model.Province"/>
    <mapping class="admission.model.Shift"/>
    <mapping class="admission.model.CampusCategory"/>
    <mapping class="admission.model.Subject"/>
    <mapping class="admission.model.AdmissionSession"/>
    <mapping class="admission.model.CategoryType"/>
    <mapping class="admission.model.AdmissionYear"/>
    <mapping class="admission.model.security.User"/>
    <mapping class="admission.model.DisciplineCategorySeats"/>
    <mapping class="admission.model.Campus"/>
    <mapping class="admission.model.Candidate"/>
    <mapping class="admission.model.DistrictSeatDistribution"/>
    <mapping class="admission.model.Jurisdiction"/>
    <mapping class="admission.model.AdmissionList"/>
    <mapping class="admission.model.ProgramType"/>
    <mapping class="admission.model.Test"/>
    <mapping class="admission.model.AppliedCategory"/>
    <mapping class="admission.model.Division"/>
    <mapping class="admission.model.Prerequisite"/>
    <mapping class="admission.model.security.Resources"/>
    <mapping class="admission.model.CredentialDetails"/>
    <mapping class="admission.model.District"/>
    <mapping class="admission.model.Issuer"/>
    <mapping class="admission.model.CampusProgramOfStudy"/>
    <mapping class="admission.model.DeptType"/>
    <mapping class="admission.model.Category"/>
    <mapping class="admission.model.Country"/>
    <mapping class="admission.model.ProgramOfStudy"/>
    <mapping class="admission.model.OtherTest"/>
    <mapping class="admission.model.Program"/>
    <mapping class="admission.model.Department"/>
    <mapping class="admission.model.CandidateProgramOfStudy"/>
    <mapping class="admission.model.AppliedCampus"/>
    <mapping class="admission.model.Discipline"/>
    <mapping class="admission.model.Part"/>
    <mapping class="admission.model.CposGroup"/>
    <mapping class="admission.model.Religion"/>
    <mapping class="admission.model.ProgramSubject"/>
    <mapping class="admission.model.Faculty"/>
    <mapping class="admission.model.ForeignCandidate"/>
    <mapping class="admission.model.OptionalSubject"/>
    <mapping class="admission.model.AllowedProgramOfStudy"/>
    <mapping class="admission.model.security.User"/>
    <mapping class="admission.model.security.Resources"/>
    <mapping class="admission.model.security.Log"/>
    <mapping class="admission.model.security.EntityPrivilege"/>
    <mapping class="admission.model.view.CandidateDetailChecker"/>
    <mapping class="admission.model.view.CandidateChoicesChecker"/>
    <mapping class="admission.model.fee.FeeCategory"/>
    <mapping class="admission.model.fee.Fee"/>
    <mapping class="admission.model.fee.AdditionalFee"/>
    <mapping class="admission.model.fee.ModelMapping"/>
    <mapping class="admission.model.fee.FeeModel"/>
    <mapping class="admission.model.view.SelectionListView"/>
    <mapping class="admission.model.view.CandidateAdmissionDetailView"/>
    <mapping class="admission.model.BankBranch"/>
  </session-factory>
</hibernate-configuration>
